# Dependencies
node_modules/

# Environment variables
.env

# Expo builds
.expo/
web-build/

# OS junk files
.DS_Store
Thumbs.db

# Docker volumes
postgres_data/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Mobile Config
mobile/config.js